%section#admin
  %header
    = link_to "Sign out", sign_out_path
    %h1 Admin Dashboard

  %nav
    %li= link_to "Pages", admin_pages_path
    %li= link_to "Agents", admin_pages_path
    %li= link_to "Settings", admin_pages_path
