@import 'whitespace-reset'

body
  font-family: "Roboto", Helvetica
  font-size: 14px
  line-height: 1.6

body > header
  background: #222
  height: 75px
  h1
    font-size: 27px
    font-weight: normal
    font-family: "Myriad Pro", Helvetica, Arial
    padding: 18px 0 0 10%
    color: white
    .grey
      display: inline
      color: #777

nav
  background: #333333
  margin: 0 auto
  padding: 0 10%
  li
    display: inline-block
    margin: 0
    a
      color: #ddd
      display: inline-block
      padding: 8px 35px
    a:hover
      text-decoration: none
      background: #444444
      color: white
  li.active
    background: #444444
    a
      color: white

a
  color: #0000EE
  text-decoration: none

a:hover
  text-decoration: underline

input[type='text'], textarea, input[type='password']
  width: 250px
  font-family: Helvetica
  font-size: 15px
  padding: 2px

input[type='submit']
  font-weight: normal
  padding: 8px 35px
  color: white
  background: #006DD9
  border: none
  font-family: "Roboto", Helvetica
  font-size: 15px
  cursor: pointer
  &:hover
    opacity: .85

textarea
  width: 500px
  border-color: #ccc
  border-width: 1px
  height: 140px

fieldset.actions
  margin: 15px 0 0 0

#container
  width: 80%
  margin: 20px auto 40px
  min-height: 300px

section#admin
  h1
    font-size: 22px
    padding-bottom: 10px
  .create_new
    float: right
    li
      margin-bottom: 15px
      a
        text-align: center
        font-weight: normal
        background: #D90000
        padding: 8px 35px
        display: inline-block
        width: 100px
        color: white
        &:hover
          text-decoration: none
        &.blue
          background: #006DD9
        &.orange
          background: #FF8000

  .create_new.blocks
    li
      display: inline-block
    li + li
      margin-left: 10px

h2
  font-size: 18px
  margin-bottom: 8px
  font-weight: normal
  &.underline
    border-bottom: 1px solid #ccc
    padding-bottom: 2px
    margin-bottom: 20px

form
  padding-top: 15px
  h2
    padding: 15px 0 0 0
  dl
    padding-bottom: 12px
    dt, dd
      display: inline-block
    dt
      width: 140px
      text-align: right
      display: inline-block
      padding-right: 3px
      vertical-align: top


table
  min-width: 300px
  text-align: left
  tr
    td
      min-width: 80px
      padding-right: 20px

footer
  background: #222
  height: 150px
  color: #333

ul.reorder_view
  li
    padding: 6px 0 8px 44px
    cursor: pointer
    color: #ddd
    width: 220px
    margin-bottom: 5px
    background: url(icons/draggable.png) 6px center no-repeat
    background-color: #333
    &.ui-sortable-helper
      opacity: .8

.update
  background: #D7E8FF
  padding: 5px 15px 8px
  margin: 0 0 8px 0
  max-width: 400px

.block
  margin-bottom: 16px
  background: #F9F9F9
  padding: 15px 25px
  input[type='text']
    width: 300px
  .delete
    float: right
    margin-top: -25px
