%h1 Sites

.create_new
  = link_to "Create New Site", [:new, :site]

%table
  %tr
    %th Name
    %th Domain
    %th
  - sites.each do |site|
    %tr
      %td= link_to site.name, site
      %td= site.domain
      %td= link_to "delete", site, method: :delete, class: 'delete',
        confirm: 'Are you sure you want to delete this site?'
